@import "../../scss/utils/utils";

.tech-stack {
	background-color: var(--wp--preset--color--contrast);
	color: var(--wp--preset--color--base);
	align-items: center;
	display: flex;
	justify-content: center;
	padding: var(--wp--preset--spacing--50) var(--wp--preset--spacing--50);
	text-align: center;
	width: 42vw;

	@include media-lg {
		width: 10vw;
	}

	&__card {
		align-items: center;
		color: var(--wp--preset--color--base);
		display: flex;
		flex-direction: column;
		justify-content: center;
		row-gap: 1rem;

		h6 {
			font-weight: 500;
			line-height: 1.15;
			margin: 0;
		}

		.safe-svg-cover .safe-svg-inside {
			align-items: center;
			display: flex;
			justify-content: center;
			height: auto !important;
			text-align: center;

			svg,
			path {
				color: var(--wp--preset--color--base);
				fill: var(--wp--preset--color--base);
			}

			svg {
				width: 40%;

				@include wp-media-max-md {
					display: table;
					margin-left: auto;
					margin-right: auto;
					width: 25%;
				}
			}
		}
	}
}

.dark-mode .tech-stack {
	background-color: var(--wp--preset--color--base);
	color: var(--wp--preset--color--contrast);

	&__card {
		color: var(--wp--preset--color--contrast);

		.safe-svg-cover .safe-svg-inside {
			svg,
			path {
				color: var(--wp--preset--color--contrast);
				fill: var(--wp--preset--color--contrast);
			}
		}
	}
}
