.site-footer {
	background-color: var(--wp--preset--color--base);
	border-top: 1px solid var(--wp--preset--color--shade);
	bottom: 0;
	left: 0;
	position: sticky;
	z-index: 0;

	&__top {
		padding-top: 6em;
		text-align: center;

		@include wp-media-max-md {
			padding-top: 5em;
		}

		a {
			text-decoration: none;
		}

		.wp-block-site-title {
			font-size: var(--wp--preset--font-size--xx-large);
			font-weight: 700;

			@include media-max-lg {
				font-size: clamp(2.125rem, 1.3512rem + 3.869vw, 3.75rem);
			}
		}
	}

	&__bottom {
		font-size: var(--wp--preset--font-size--xx-small);
		margin-top: 10em;
		padding-bottom: 1.675em;

		@include wp-media-max-md {
			margin-top: 5em;
			text-align: center;
		}

		.wp-block-social-links {
			font-size: 1.5rem;
			gap: 0.9375rem;

			@include wp-media-max-md {
				font-size: var(--wp--preset--font-size--small);
				justify-content: center !important;
			}

			.wp-block-social-link .wp-block-social-link-anchor svg {
				color: var(--wp--preset--color--contrast);
				fill: var(--wp--preset--color--contrast);
			}
		}
	}
}

.dark-mode .site-footer {
	background-color: var(--wp--preset--color--contrast);
	border-color: #222;

	&__top .wp-block-site-title a:hover {
		color: var(--wp--preset--color--primary);
	}

	&__bottom .wp-block-social-links .wp-block-social-link {
		.wp-block-social-link-anchor svg {
			color: var(--wp--preset--color--base);
			fill: var(--wp--preset--color--base);
		}

		&:hover {
			.wp-block-social-link-anchor svg {
				color: var(--wp--preset--color--primary);
				fill: var(--wp--preset--color--primary);
			}
		}
	}
}
