@import "../../scss/utils/utils";

.portfolio {
	flex-shrink: 0;
	width: clamp(200px, 60vw, 600px);

	&__card {
		box-shadow: var(--wp-preset-shadow--natural);

		figure {
			margin-bottom: 0;
		}
	}
}
