/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

@import "../../scss/utils/utils";

.experiences {
	overflow-x: hidden;

	&__wrapper {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 1.785rem;
	}
}
